/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.hljs-comment,
.hljs-title {
  color: #969896;
}

.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-ruby .constant,
.hljs-xml .tag .title,
.hljs-xml .pi,
.hljs-xml .doctype,
.hljs-html .doctype,
.hljs-css .id,
.hljs-css .class,
.hljs-css .pseudo {
  color: #cc6666;
}

.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #de935f;
}

.hljs-class,
.hljs-ruby .class .title,
.hljs-css .rules .attribute {
  color: #f0c674;
}

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-ruby .symbol,
.hljs-xml .cdata {
  color: #b5bd68;
}

.hljs-css .hexcolor {
  color: #8abeb7;
}

.hljs-function,
.hljs-python .decorator,
.hljs-python .title,
.hljs-ruby .function .title,
.hljs-ruby .title .keyword,
.hljs-perl .sub,
.hljs-javascript .title,
.hljs-coffeescript .title {
  color: #81a2be;
}

.hljs-keyword,
.hljs-javascript .function {
  color: #b294bb;
}

pre code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #444;
  padding: 10px;
  font-size: 83%;
  overflow-x: auto;
}
